## Voron Design VORON2 250/300/350mm Spider TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## + MCU paths                           [mcu] section
## Thermistor types                    [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## + Bed sensor_pin                      [heater_bed] section
## + Fan pins                            [heater_fan hotend_fan] amd [fan] sections
## Z Endstop Switch location           [safe_z_home] section
## Homing end position                 [gcode_macro G32] section
## Z Endstop Switch  offset for Z0     [stepper_z] section
## Probe points                        [quad_gantry_level] section
## Min & Max gantry corner postions    [quad_gantry_level] section
## PID tune                            [extruder] and [heater_bed] sections
## Fine tune E steps                   [extruder] section

## INCLUDES
[include fluidd.cfg]
[include CanBus.cfg]
[include macros.cfg]
[include CuraCorrections.cfg]
[include stealthburner_leds.cfg]

[include KAMP/Adaptive_Mesh.cfg]
[include KAMP/Voron_Purge.cfg]
#[include print_area_bed_mesh.cfg]
#[include adaptive_bed_mesh.cfg]
[include nozzle_scrub.cfg]
[include TheFilter.cfg]
[include timelapse.cfg]
[exclude_object]

## Removed due to Tap
#[include autoz.cfg]
#[include klicky-probe.cfg]


[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" 
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_32003C001850563046363120-if00
## Uncomment below if you're using the Raspberry uart0 to communicate with Spider
#serial: /dev/ttyAMA0
#restart_method: command

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 9000                 #Max 4000
max_accel_to_decel: 5000
max_z_velocity: 20          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 10.0

#####################################################################
#      X/Y Stepper Settings
#####################################################################

##  Connected to X-MOT (B Motor)
[stepper_x]
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
#endstop_pin: ^PA1
position_min: 0
##----Build Volume----------------------------------------------------------------
position_endstop: 350
position_max: 350
##--------------------------------------------------------------------
homing_speed: 150   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PE7
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Connected to Y-MOT (A Motor)
[stepper_y]
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PB13
position_min: -5

##----Endstop position for 350x350--------------
position_endstop: 350
position_max: 355
##----------------------------------------------
homing_speed: 150  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE15
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

## In Z-MOT Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: PD14
dir_pin: PD13
enable_pin: !PD15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 64
##  For Standard Endstop Pin
#endstop_pin: ^PA0
#position_endstop: .65
endstop_pin: probe:z_virtual_endstop
##--------------------------------------------------------------------
position_max: 310
##--------------------------------------------------------------------

position_min: -20
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3


#####################################################################
#	Probe
#####################################################################
[probe]
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NO instead of NC, change pin to ^!PA3
pin: sb2040:gpio28
x_offset: 0
y_offset: 0
#z_offset:-0.385 # smooth bed
#z_offset:-0.285
speed: 5
samples:3 
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.01
samples_tolerance_retries: 3
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[safe_z_home]
home_xy_position: 340, 340
#speed: 50.0
#   Speed at which the toolhead is moved to the safe Z home
#   coordinate. The default is 50 mm/s
z_hop: 20
#   Distance (in mm) to lift the Z axis prior to homing. This is
#   applied to any homing command, even if it doesn't home the Z axis.
#   If the Z axis is already homed and the current Z position is less
#   than z_hop, then this will lift the head to a height of z_hop. If
#   the Z axis is not already homed the head is lifted by z_hop.
#   The default is to not implement Z hop.
#z_hop_speed: 15.0
move_to_previous: False
#   When set to True, the X and Y axes are reset to their previous
#   positions after Z axis homing. The default is False.

[tmc2209 stepper_z]
uart_pin: PD10
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999

##  In E1-MOT Position
##  Z1 Stepper - Rear Left
[stepper_z1]
step_pin: PE6
dir_pin: !PC13
enable_pin: !PE5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 64

[tmc2209 stepper_z1]
uart_pin: PC14
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999

##  In E2-MOT Position
##  Z2 Stepper - Rear Right
[stepper_z2]
step_pin: PE2
dir_pin: PE4
enable_pin: !PE3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 64

[tmc2209 stepper_z2]
uart_pin: PC15
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999

##  In E3-MOT Position
##  Z3 Stepper - Front Right
[stepper_z3]
step_pin: PD12
dir_pin: !PC4
enable_pin: !PE8
rotation_distance: 40
gear_ratio: 80:16
microsteps: 64

[tmc2209 stepper_z3]
uart_pin: PA15
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999

#####################################################################
#   Bed Heater
#####################################################################
##  SSR Pin - In BED OUT position
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
[heater_bed]
heater_pin: PB4
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB0 # Spider 2.2
##  Adjust Max Power so your heater doesn't warp your bed
max_power: 0.65
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


#####################################################################
#   Chamber Temp
#####################################################################
#[temperature_sensor chamber]
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: PC1

[temperature_fan chamber]
pin: PB3
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
#cycle_time:0.01
off_below:0.1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 70
target_temp: 60.0
control: watermark
gcode_id: C

#####################################################################
#   Fan Control
#####################################################################
[temperature_fan controller_fans]
pin: PB2
kick_start_time: 0.8
#shutdown_speed: 0
off_below: 0.1
max_power: 1.0
sensor_type: temperature_host
control: pid
min_temp: -40
max_temp: 80
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 1.0
target_temp: 38

[fan_generic pi_fan]
pin: PA14
max_power: 1.0
#shutdown_speed:
#cycle_time:
#hardware_pwm:
kick_start_time: 1
off_below:0.1
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.

#####################################################################
#    thermals
#####################################################################

#[temperature_sensor raspberry_pi]
## Pi Temps
#sensor_type: temperature_host
#max_temp: 100

[temperature_sensor mcu_temp]
## Spider Temps
sensor_type: temperature_mcu
max_temp: 100

#####################################################################
#   LED Control
#####################################################################

##  Chamber Lighting - In E1 OUT Position
#[output_pin caselight]
#pin: PC8
#pwm: true
#shutdown_value: 0
#cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 7200

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
## Probe points
points:
   50,25
   50,275
   300,275
   300,25
#--------------------------------------------------------------------
speed: 300
horizontal_move_z: 10
retries: 5   # from 5
retry_tolerance: 0.0075
max_adjust: 25   # from 10

#####################################################################
#    Bed Mesh
#####################################################################
[bed_mesh]
speed: 500
horizontal_move_z: 10
mesh_min: 10,10
mesh_max: 340,340
probe_count: 7,7
mesh_pps: 2,2
relative_reference_index: 24
algorithm: bicubic
bicubic_tension: 0.2
move_check_distance: 3.0
split_delta_z: .010
fade_start: 1.0 
fade_end: 5.0


#####################################################################
#   Displays
#####################################################################

#   mini12864 LCD Display
[display]
lcd_type: uc1701
cs_pin: PC11
a0_pin: PD2
rst_pin: PC10
encoder_pins: ^PC6,^PC7
click_pin: ^!PA8
contrast: 63
#spi_bus: spi1
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5

#   To control Neopixel RGB in mini12864 display
[neopixel fysetc_mini12864]
pin: PC12
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

#   Set RGB values on boot up for each Neopixel. 
#   Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
   SET_LED LED=fysetc_mini12864 RED=0 GREEN=1 BLUE=0 INDEX=1 TRANSMIT=0
   SET_LED LED=fysetc_mini12864 RED=0 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
   SET_LED LED=fysetc_mini12864 RED=0 GREEN=1 BLUE=0 INDEX=3 


#####################################################################
#   Macros
#####################################################################

## See Macros.cfg

[pause_resume]
recover_velocity: 50.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.143
#*# pid_ki = 2.235
#*# pid_kd = 65.188
#*#
#*# [stepper_z]
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 56.8
#*# shaper_type_y = zv
#*# shaper_freq_y = 43.2
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 38.352
#*# pid_ki = 1.522
#*# pid_kd = 241.616
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.003125, 0.006250, -0.050000
#*# 	  0.040000, 0.000000, -0.046875
#*# 	  0.009375, -0.017500, -0.054375
#*# tension = 0.2
#*# min_x = 143.43
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 138.98
#*# x_count = 3
#*# max_y = 213.74
#*# mesh_x_pps = 2
#*# max_x = 208.29
#*#
#*# [probe]
#*# z_offset = -0.700
